<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "main_style" %>
  <title>SophiaType</title>
</head>
<body>
  <div class="d-flex align-items-center justify-content-center">
    <h1>do you feel the weight of your sins?</h1><br>
  </div><br>

  <h2>Game options:</h2>
  <div class="container">
    <%= form_with url: typing_test_path, method: :get do |form| %>
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <div id="mode-select" class="btn-group" role="group" data-toggle="buttons" aria-label="Options">
            <%= form.radio_button :mode, "quote", data: { value: "quote" }, autocomplete: "off", required: true %>
            quote
            <%= form.radio_button :mode, "words", data: { value: "words" }, autocomplete: "off", required: true %>
            words
            <%= form.radio_button :mode, "timed", data: { value: "timed" }, autocomplete: "off", required: true, checked: true %>
            timed 
          </div><br>
        </div>
        <div class="col-sm-3">
          <div id="size-select" class="btn-group hide size" role="group" data-toggle="buttons" aria-label="Options">
            <%= form.radio_button :size, "Small", autocomplete: "off", required: true, checked: true %>
            small
            <%= form.radio_button :size, "Medium", autocomplete: "off", required: true %>
            medium
            <%= form.radio_button :size, "Large", autocomplete: "off", required: true %>
            large 
          </div><br>
        </div>
        <div class="col-sm-3 d-flex align-items-center justify-content-end">
          <button type="submit" class="btn btn-primary">Go</button>
        </div>
      </div>
    <% end %>
  </div>

  <%= javascript_include_tag "main_index_script.js" %>
</body>
</html>
