<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <%= stylesheet_link_tag "typing_test_style" %>
  <title>Bythos</title>
</head>
<body>
  <div id="typing-test">
    <p id="text" class="neutral"><%= @text %></p>
    <input type="text" id="input" autofocus autocomplete="off">
  </div>

  <div id="results" class="hide">
    <ul>
      <li>Title: <span id="title"><%= @extract.extract_title %></span> </li>
      <li>WPM: <span id="wpm"></span> </li>
      <li>Accuracy: <span id="accuracy"></span>% </li>
      <li>Gross: <span id="gross"></span> </li>
      <li>Time: <span id="time"></span> </li>
    </ul>
  </div>

  <%= hidden_field_tag "mode", @mode %>
  <div id="user-id" data-user-id="<%= session[:user_id] %>"></div>
  <%= javascript_include_tag "typing_test" %>
</body>
</html>
