<%= javascript_include_tag "typing_test_script" %>

<%= form_tag "/typing_test", method: :post, id: "typing-test-form" do %>
  <div id="typing-test-text">
    <%= @text %>
  </div>
  <div id="typing-test-input">
    <%= text_field_tag :typed_text, id: "typed-text" %>
  </div>
  <%= submit_tag "Submit" %>
<% end %>