<head>
  <title>Account</title>
  <%= stylesheet_link_tag "account_page_style" %>

<div style="display: flex; flex-direction: column; align-items: center;">
  <div class="d-flex align-items-center">
    <% if @user.picture.attached? %>
      <%= image_tag url_for(@user.picture), class: "img-thumbnail profile-image" %>
    <% end %>

    <h1>
      Hello, <% if @user.name.present? %>
        <%= @user.name %>
      <% else %>
        <%= @user.email %>
      <% end %>
    </h1>
  </div>

  
  <p>The seed of eden has begun to <strong>rot</strong></p>

  <%= link_to "Results", user_results_path(user_id: @user.id) %>
  <%= link_to "Settings", edit_user_path(user_id: @user.id) %>
</div>
