<head>
  <title>Sigê</title>
  <%= stylesheet_link_tag "account_page_style" %>

<div style="display: flex; flex-direction: column; align-items: center;">
  <div class="d-flex align-items-center">
    <% if @current_user.picture.attached? %>
      <%= image_tag url_for(@current_user.picture), class: "img-thumbnail profile-image" %>
    <% end %>

    <h1>
      Hello, <% if @current_user.name.present? %>
        <%= @current_user.name %>
      <% else %>
        <%= @current_user.email %>
      <% end %>
    </h1>
  </div>

  
  <p class="text-center">
    Use the links to view your <strong>results</strong>, or update your <strong>account information</strong>
  </p>

  <%= link_to "Results", user_results_path(user_id: @current_user.id) %>
  <%= link_to "Settings", edit_user_path(user_id: @current_user.id) %>
</div>
